*/15 * * * * php /var/www/html/bin/console app:cleanup-slot-locks --env=prod >> /proc/1/fd/1 2>&1
0 7 * * * php /var/www/html/bin/console app:send-daily-agenda --env=prod >> /proc/1/fd/1 2>&1
0 2 * * * php /var/www/html/bin/console app:cleanup-tokens --env=prod >> /proc/1/fd/1 2>&1
